{% extends 'base.html' %}


{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-sm-9 col-md-8 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
        <div class="card-body">
            <div class='text-center'>
                <h1>AMPETERSON.COM</h1>
                {% if request.user.is_authenticated%}
                    <div>
                        Hi, {{request.user.username}}!
                    </div>
                
                    <div>
                        <a href="{% url 'ui:home' %}">Home</a>
                        |
                        <a href="{% url 'ui:password' %}">Change Password</a>
                        {% if request.user.is_superuser %}
                            |
                            <a href="{% url 'ui:codes' %}">Access Codes</a>
                            |
                            <a href="{% url 'admin:index' %}">Admin</a>
                        {% endif %}
                        |
                        <a href="{% url 'ui:logout' %}">Logout</a>
                {% endif %}
                <br>
                {% block inner_content %}
                <br>
                <br>
                {% endblock %}
                <br>
                
                
            </div>
            <div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div style='font-size:1.3em;'>
                            <strong>{{ message }}</strong>
                        </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}