{% extends 'ui/base.html' %}

{% block inner_content %}

    <div class='text-center'>
    <h5 class="card-title text-center">Reset Password</h5>
    <form class="form-signin" action="{% url 'ui:password' %}", method="POST">
    {% csrf_token %}

        <div class="form-label-group">
            <input type="password" id="inputPassword" name='p' class="form-control" placeholder="Current Password" required>
            <label for="inputPassword">Current Password</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword1" name='p1' class="form-control" placeholder="New Password" required>
            <label for="inputPassword1">New Password</label>
        </div>
        <div class="form-label-group">
            <input type="password" id="inputPassword2" name='p2' class="form-control" placeholder="Repeat Password" required>
            <label for="inputPassword2">Confirm Password</label>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset Password</button>
        
    </form>
        <form class="form-signin" action="{% url 'ui:home' %}", method="GET">
            <button class="btn btn-lg btn-danger btn-block text-uppercase" type="submit">Cancel</button>
        </form>

    </div>
          
{% endblock %}